#recent-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recent-posts h1 {
  text-align: left;
  margin-left: 200px;
  margin-bottom: 20px;
}

#postGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-content: center;
    margin-left: 190px;
  }