.users-summary {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 100px;
}

.user-brief {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

.see-users {
    background-color:   #0F62FE;
}

.user-heading {
    text-align: left;
    margin-bottom: 20px;
}

.user {
    text-align: left;
    line-height: 10px;
}

.user img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

