#navbar {
    min-width: 100%;
    height: 50px;
    align-self: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px
  }
  
  .nav-link {
    font-size: larger;
  }